.footer {
  background: #000000;
  padding: 3rem 2rem;
  text-align: center;
}

.footerContent {
  max-width: 1200px;
  margin: 0 auto;
}

.footerText {
  font-family: var(--font-poppins), sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  color: white;
  margin-bottom: 2rem;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.footerContact {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15rem;
  margin-bottom: 2rem;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.footerColumn p {
  font-family: var(--font-poppins), sans-serif;
  font-size: 1rem;
  color: white;
  margin: 0;
}

.pressInquiries {
  background: linear-gradient(90deg, #fcc80e, #5caba4);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: #fcc80e;
}

.getInvolved {
  background: linear-gradient(90deg, #d96f65, #c64a96, #fe6c5c);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: #d96f65;
}

.footerColumn a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

.footerColumn a:hover {
  text-decoration: underline;
}

.socialLinks {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  padding-top: 1.5rem;
  margin-bottom: 2rem;
}

.socialLink {
  display: inline-block;
  transition: transform 0.2s ease;
  color: #fced18;
}

.socialLink:hover {
  transform: scale(1.1);
  color: #fced18;
}

.socialLink img {
  width: 30px;
  height: 30px;
  filter: brightness(0) saturate(100%) invert(84%) sepia(100%) saturate(1000%)
    hue-rotate(0deg) brightness(1.1) contrast(1.1);
}

.footerLogo {
  margin-top: 2rem;
}

.footerLogo img {
  width: 250px;
  height: auto;
}

@media (max-width: 768px) {
  .socialLinks {
    flex-wrap: wrap;
    gap: 1rem;
  }

  .footerContact {
    grid-template-columns: 1fr;
    gap: 1rem;
  }
}